{{#error}}
    <div class="loginerrors">
        <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
        <div class="alert alert-danger" role="alert">{{error}}</div>
    </div>
 {{/error}}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <main class="loginWrapper h-100 position-relative">
            <header class="py-3">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="headerLogos">
                                <a href="#" target="_self"><img src="img/cu-logo-white.png" alt="Chandigarh University" width="250" class="cuLogo"></a>
                                <!-- <a href="/"><img src="img/idol-logo.png" alt="CUIDOL logo" width="140" class="cuidolLogo"></a> -->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="headerRight d-flex align-items-center justify-content-lg-end justify-content-sm-center">
                                <div class="phone">
                                    Call Us: <a href="tel:18002571800">1800 257 1800</a>
                                </div>
                                <div class="socialLinks">
                                    <a href="https://www.facebook.com/chandigarhuniversitygharuan" target="_blank" ><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/chandigarhuniversity/" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="https://www.linkedin.com/school/chandigarh-university/" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/chandigarh_uni" target="_blank" ><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                    <a href="https://www.youtube.com/user/chandigarhuniversity" target="_blank" ><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                </div>
                                {{! <div class="ctaButton">
                                    <a href="https://cucet.cuchd.in/index.aspx?type=cuchd" target="_blank" class="btn btn-lg cta-btn">Enroll Now</a>
                                </div> }}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div id="myCarousel" class="carousel slide carousel-fade h-100" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item h-100 active" style="background: url('img/slide-1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
                    </div>
                    <div class="carousel-item h-100" style="background: url('img/slide-2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
                    </div>
                </div>
            </div>

            <div class="cuidolLmsLogin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 m-auto">
                            <div class="cuidolLmsLogin__inner loginRegisterForm text-center">
                                <h2>Login</h2>
                                <p class="text-center">
                                    Kindly fill your Username & Password below <br>to access your account.
                                </p>
                                <div class="cuidolLmsLogin__form">
                                    <div class="cuidolLmsLogin__form--fields loginForm">

                                        {{! <form class="row g-3 needs-validation" novalidate> }}

                                            <form class="row g-3 needs-validation" action="{{loginurl}}" method="post" id="login">

                                                <input type="hidden" name="logintoken" value="{{logintoken}}">


                                            <div class="col-md-12">
                                                <div class="form-floating mb-2">
                                                    <input type="name" name="username"  class="form-control" id="validationCustom02" placeholder="Username" required {{!
                                                        !}}class="form-control form-control-lg" {{!
                                                        !}}value="{{username}}" {{!
                                                        !}}placeholder="{{^canloginbyemail}}{{#cleanstr}}username{{/cleanstr}}{{/canloginbyemail}}{{!
                                                        !}}{{#canloginbyemail}}{{#cleanstr}}usernameemail{{/cleanstr}}{{/canloginbyemail}}" {{!
                                                        !}}autocomplete="username">
                                                    <label for="floatingInput">Username</label>
                                                    <div class="invalid-feedback">
                                                        This field is required!
                                                    </div>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    {{! <input type="text" class="form-control" id="validationCustom02" placeholder="Email address" required> }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-floating">
                                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required value="" {{!
                                                        !}}class="form-control form-control-lg" {{!
                                                        !}}placeholder="{{#cleanstr}}password{{/cleanstr}}" {{!
                                                        !}}autocomplete="current-password">
                                                        <label for="floatingPassword">Password</label>
                                                    <div class="invalid-feedback">
                                                        This field is required!
                                                    </div>
                                                </div>    

                                                {{! <input type="text" class="form-control" id="validationCustom03" placeholder="Enter Password" required> }}


                                                
                                            </div>
                                            <div class="col-md-12 text-end">
                                                <p class="m-0"><a href="http://uims.cuchd.in/" target= "_blank">Forgot Password?</a></p>
                                            </div>
                                            <div class="col-12">

                                                <button class="btn cta-btn w-100" type="submit" id="loginbtn">{{#str}}login{{/str}}</button>

 {{!  <button class="btn cta-btn w-100" type="submit">Sign In</button> }}
                                            </div>
                                          </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#registerForm").click(function(){
                    $(".registerForm").removeClass("d-none")
                    $(".loginForm").addClass("d-none")
                    
                    $(this).addClass("active")
                    $("#loginForm").removeClass("active")
            
                    return(false);
                });
                $("#loginForm").click(function(){
                    $(".registerForm").addClass("d-none")
                    $(".loginForm").removeClass("d-none")
            
                    $(this).addClass("active")
                    $("#registerForm").removeClass("active")
            
                    return(false);
                });
                $("#forgotPasswordLink").click(function(){
                    $(".forgotForm").removeClass("d-none")
                    $(".loginRegisterForm").addClass("d-none")
                    return(false);
                });
            });
        </script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
            'use strict'
            
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    }
            
                    form.classList.add('was-validated')
                }, false)
                })
            })()
        </script>
    </body>
</html>
  

{{#hasidentityproviders}}
    {{#hasinstructions}}
    <div class="row justify-content-center">
    <div class="col-xl-8 push-xl-2 m-2-md col-sm-8 push-sm-2">
    <div class="card instructionspanel">
        <div class="card-block">
            <div class="card-title">
                <h2>{{#str}}firsttime{{/str}}</h2>
            </div>
            <div>
            {{{instructions}}}
            {{#cansignup}}
                <form class="m-t-1" action="{{signupurl}}" method="get" id="signup">
                    <button type="submit" class="btn btn-secondary">{{#str}}startsignup{{/str}}</button>
                </form>
            {{/cansignup}}
            </div>
        </div>
    </div>
    </div>
    </div>
    {{/hasinstructions}}
{{/hasidentityproviders}}

{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
